<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="zoologico.Properties.Settings.db_230577ConnectionString"
            connectionString="Data Source=DARNASSUS\MOTORHEAD;Initial Catalog=db_230577;User ID=230577;Password=A12345678a"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>